# SonicAI 环境变量（生产部署）
# 复制为 .env 后填入真实值，不要上传到 GitHub

TZ=Asia/Shanghai

# 数据库（复用 postgres）
DATABASE_URL=postgresql+psycopg://musicrec_user:你的密码@postgres:5432/musicrec

# Redis（复用 redis）
REDIS_URL=redis://redis:6379/3
REDIS_KEY_PREFIX=sonicai:

# 初始管理员（首次启动时自动创建）
INIT_ADMIN_USERNAME=admin
INIT_ADMIN_PASSWORD=你的强密码
INIT_ADMIN_EMAIL=admin@sonicai.local

# JWT 密钥（生产环境必须更换）
JWT_SECRET_KEY=sonicai-access-change-in-production
JWT_REFRESH_SECRET_KEY=sonicai-refresh-change-in-production

# 应用
APP_TIMEZONE=Asia/Shanghai
