# SonicAI — 1Panel 部署配置
# 复制为 .env 后填入真实值

TZ=Asia/Shanghai

# 数据库 — 复用已有 PostgreSQL 容器
DATABASE_URL=postgresql+psycopg://musicrec_user:你的密码@postgres:5432/musicrec

# Redis — 复用已有 Redis 容器
REDIS_URL=redis://redis:6379/3
REDIS_KEY_PREFIX=sonicai:

# 初始管理员（首次启动时自动创建）
INIT_ADMIN_USERNAME=admin
INIT_ADMIN_PASSWORD=你的强密码
INIT_ADMIN_EMAIL=admin@sonicai.local

# JWT 密钥（生产环境请替换为随机字符串）
JWT_SECRET_KEY=sonicai-access-secret-2026-change-in-production
JWT_REFRESH_SECRET_KEY=sonicai-refresh-secret-2026-change-in-production

# 应用
APP_TIMEZONE=Asia/Shanghai
FRONTEND_ORIGIN=http://你的服务器IP:8000
